@model dashboard_HospitalGuide_.Models.BloodNeed

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="card text-white bg-warning mb-3" style="width:500px;margin-right:300px;height:200px;margin-top:100px">
            <div class="card-header" style="font-size:30px;"><b>هل انت متأكد</b></div>
            <div class="card-body" style="font-size:30px">
                <div class="form-actions no-color">
                    <input type="submit" value="حذف" class="btn btn-danger" style="width:90px;font-size:25px;" /> |
                    @Html.ActionLink("الرجوع للصفحة الرئيسية", "Index")
                </div>
                <h5 class="card-title"></h5>

            </div>
        </div>

    }
</div>